@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


:root {
    --nav-element-gap: 10px;
    --global-txt-col: white;
    --global-shadow-col: black;
    --secondary-color: #374151;
    --accent-color: #9333ea;
}


body {
    margin: 0;
    height: fit-content;
    font-family: "Montserrat", sans-serif;
    color: var(--global-txt-col);
}


#content {
    display: grid;
    grid-template-columns: minmax(220px, 0.5fr) 2.8fr minmax(200px, 0.5fr);
    grid-template-rows: 75px 75px 1.5fr;
    height: 100vh;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 60px 12fr 12fr;
    grid-template-columns: 60px 9fr;
    gap: 10px;
    background-color: #111827;
    padding-left: 20px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-row-start: 2;
    grid-row-end: 3;
    gap: 15px;
    padding-top: 40px;
    height: 200px;
}

.text {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    gap: var(--nav-element-gap);
}

.icon {
    padding: none;
}

.icons {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    gap: var(--nav-element-gap);
    padding-left: 17px;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
}

.brand-name {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    font-weight: 600;
    font-size: 20px;
}

.text a {
    text-decoration: none;
    color: var(--global-txt-col);
    padding: none;
    transition: all 0.2s;
}

.text a:hover {
    font-size: 17px;
    transition: all 0.2s;
    font-weight: 500;
}

.bell {
    height: 24px;
    width: 24px;
    transition: all 0.2s;
}
.bell:hover {
    height: 26px;

    transition: all 0.2s;
}

.header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-rows: 1fr 1fr;
    background-color: var(--secondary-color);
    max-height: 200px;
}

.top {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
}

.search-bar {
    height: 24px;
    background-color: #111827;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 95%;
    border-radius: 9999px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: center;
    justify-items: center;
    justify-self: start;
}
.magnifier {
    justify-self: end;
    padding-left: 20px;
}

.main-content, 
.ann-trend {
    background-color: #1f2937; 
    box-shadow: inset 0px 101px 20px -110px var(--global-shadow-col);
}

.top a {
    color: black;
    padding: none;
    height: 24px;
}

.profile {
    align-self: center;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
    justify-self: end
}

.pfp-small {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    box-shadow: 0 0 3px 0 var(--global-shadow-col);
}

.header-name {
    font-size: 20px;
    padding-right: 30px;
    padding-left: 10px;
    font-weight: 500;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    align-items: center;
}

.big-profile {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 15px;
    justify-self: start;
}

.pfp-big {
    height: 50px;
    width: 50px;
    border-radius: 999px;
    margin-left: 20px;
    box-shadow: 0 0 3px 0 var(--global-shadow-col);
}

.header-text div {
    font-weight: 600;
    font-size: 20px;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    gap: 18px;
    align-items: center;
    margin-right: 30px;
}

.header-buttons button {
    height: 35px;
    width: 90px;
    border-radius: 999px;
    background-color: var(--accent-color);
    border: none;
    color: var(--global-txt-col);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}


svg {
    color: var(--global-txt-col);
}

.ann-content div div {
    font-weight: 700;
}

.ann-trend-content {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 15px;
    margin-right: 30px;
    display: grid;
}

.ann-content, 
.trend-content {
    align-items: start;
    justify-items: center;
    gap: 10px;
}

.ann-trend-structure {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: fit-content;
}
.announcements,
.trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
    align-items: center;
    max-height: fit-content;
    align-self: start;
}

.ann-trend-title {
    font-weight: 700;
    font-size:20px;
}

.trending-posts  {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.trending-posts img {
    margin-right: 15px;
}

.ann-trend-content.trend-content {
    gap: 20px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(240px, 200px));
    gap: 35px;
    padding: 30px;
    align-items: start;
    /* height: fit-content; */
}

.card {
    height: 200px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 50px 8fr;
    align-items: center;
    box-shadow: inset 1000px 0px 0px -990px var(--accent-color);
}

.card>a {
    text-decoration: none;
    color: var(--global-txt-col);
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.2s;
}

.card>a:hover {
    font-size: 25px;
    font-weight: 600;
    transition: all 0.2s;
}

.card>p a {
    color: var(--global-txt-col);
}

.header-buttons a {
    text-decoration: none;
    color: var(--global-txt-col);
}