@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --nav-element-gap: 10px;
}


body {
    margin: 0;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}


#content {
    display: grid;
    grid-template-columns: minmax(200px, 0.5fr) 2.8fr minmax(200px, 0.5fr);
    grid-template-rows: 0.15fr 0.15fr 1.5fr;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 60px 12fr 12fr;
    grid-template-columns: 60px 9fr;
    gap: 10px;
    background-color: #818cf8;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-row-start: 2;
    grid-row-end: 3;
    gap: 15px;
    padding-top: 40px;
}

.text {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    gap: var(--nav-element-gap);
}

.icon {
    padding: none;
}

.icons {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    gap: var(--nav-element-gap);
    padding-left: 17px;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
}

.brand-name {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
}

.text a {
    text-decoration: none;
    color: black;
    padding: none;
}

.header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-rows: 1fr 1fr;
    background-color: #a5b4fc;
}

.top {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
}

.search-bar {
    height: 24px;
    background-color: #312e81;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 95%;
    border-radius: 9999px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: center;
    justify-items: center;
}
.magnifier {
    justify-self: end;
}

.main-content {
    background-color: #c7d2fe; 
}
.ann-trend {
    background-color: #c7d2fe; 
}
.search a {
    color: black;
    padding: none;
    height: 24px;
}